mat-grid-list {
  margin-top: 15px;
}
mat-card {
  background-color: #ffffff;
}
.header {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.header h2 {
  font-family: Arial;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(10, 10, 10);
  padding: 2px;
}
